/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Partials */
#top-header {
  display: flex;
  justify-content: space-between;
}

#top-header .siteName {
  font-size: 3.5em;
  font-weight: bold;
}

#top-header #tools > a {
  font-size: 1.5em;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}

#top-header .siteName > a, #top-header #tools > a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  color: whitesmoke;
}

nav ul li {
  list-style-type: none;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}


/* Index */
html {
  background-image: url("/images/site/small_check.jpg");
}

body {
  margin: 10px auto;
  padding: 10px;
  max-width: 90%;
  background-color: white;
  border: 3px solid lightskyblue;
  border-radius: 10px;
}

#section-one > div {
  color: skyblue;
  position: relative;
}

#section-one > div > img {
  width: 90%;
  display: block;
}

#section-one > div > div> p > span {
  font-size: 1.1em;
  font-weight: bold;
}

#section-one > div > div {
  position: absolute;
  top: 20%;
  left: 8%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: max-content;
  max-width: 50%;
}

#section-one > div > div > img {
  width: 40%;
  display: block;
}

#section-two {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

#section-two > div {
  flex: 1;
}

#upgrades {
  display: flex;
  flex-wrap: wrap;
}

#upgrades > figure {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  flex: 1 1 30%;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightskyblue;
  text-align: center;
}

#upgrades > figure > img {
  display: block;
  flex: 1;
  margin: 0 auto;
}

#upgrades > figure > figcaption {
  text-decoration: underline;
  color: blue;
}

#reviews ul li {
  font-weight: initial;
  font-size: initial;
  list-style-type: initial;
  padding: 10px;
  text-align: initial;
}

#inv-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.deliver-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
}

.deliver-bold {
  font-weight: bold;
}

.deliver-bold div:last-child {
  word-wrap: break-word;
  overflow: hidden;
  max-width: 100%;

}

/* .deliver-display img {
  max-width: 100%;
  height: auto;
} */

nav ul li a {
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: whitesmoke;
}

nav a:hover {
  color: lightskyblue;
}

#login-signup,
#add-classification,
#inv-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  
}

#login-signup-form,
#inv-class-form,
#select-class-form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 12px;
  width: 40%;
  max-width: 350px;
}

.form-element {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;

}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.3s ease;
}

#login-button {
  /* display: block;
  margin-top: 5px; */
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  /* max-width: 350px; */
}

#register-button,
#show-hide,
#add-class-button,
#inv-class-button {
  /* display: block;
  margin-top: 5px; */
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  /* max-width: 350px; */
}

#login-button:hover, 
#register-button:hover, 
#show-hide:hover,
#add-class-button:hover {
  background-color: #0056b3;
}

.form-element {
  font-size: large;
  font-weight: bold;
}

#tools a:hover {
  color: #007bff !important;
}


.notice li {
  color: red;
}

#inv-mgmt ul li a{
  text-decoration: none;
  font-size: large;
}

#inv-mgmt ul li {
  list-style: square;
  padding: 3px;
}


.hidden-label {
  display: none;
}


@media (max-width: 600px) {
  
  #section-two {
    flex-direction: column;
  }

  #section-one > div > div { 
    width: 90%;
    max-width: 50%;
  }

  #section-one {
    font-size: calc(0.8 * 1rem);
  }

  #section-one > div > div> p > span {
    font-size: calc(0.8 * 1.1rem);
    font-weight: bold;
  }

  .deliver-display {
    flex-direction: column;
  }

  .deliver-display img {
    width: 100%;
    height: auto;
  }

}