<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>


<%- messages() %>

<section id="inv-mgmt">

    <ul>
        <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" title="Add New Inventory">Add New Inventory</a></li>
    </ul>

</section>


<section id="select-inv">

    <h2>Manage Inventory</h2>
    
    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enabled to use this page.</noscript>

</section>


<script src="../../js/inventory.js"></script>